:root {
  --accent: #2ea043;
  --background: #0D1117;
  --card: #161B22;
  --menu: #21262D;
  --text: #c9c9c9;
}

@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');

body {
  margin: 0;
  background-color: var(--background);
  color: var(--text);
  font-family: 'Jost', sans-serif;
}