:root {
  --accent: #2ea043;
  --background: #0D1117;
  --card: #161B22;
  --menu: #21262D;
  --text: #c9c9c9;
}

@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');

body {
  margin: 0;
  background-color: var(--background);
  color: var(--text);
  font-family: 'Jost', sans-serif;
}

.fade-appear {
  opacity: 0;
}
.fade-appear-done {
  opacity: 1;
}
.fade-enter {
  opacity: 0;
}
.fade-exit {
  opacity: 1;
}
.fade-enter-active {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
}
.fade-enter-active,
.fade-appear-active,
.fade-exit-active {
  transition: opacity 250ms;
}